* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  color: #FFF;
  font-family: "Poppins";
  font-size: 16px;
  text-decoration: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  display: flex;
  background-position: auto;
  background-size: cover;
  background-image: url('/assets/images/background1.png');
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.memory-game {
  height: 95vh;
  width: 95vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 2000px;
}

.card {
  height: calc(25% - 10px);
  width: calc(10% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .9s;
}

.card:active {
  transform: scale(0.95);
  transition: transform .3s;

}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  background: white;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}

/* responsivo */


@media (max-width: 1200px) {

  .card {
    height: calc(15% - 1px);
    width: calc(15% - 1px);
    margin: 3px;
  }

}

@media (max-width: 800px) {
  .memory-game {
    height: 98vh;
    width: 100vw;
    perspective: 2000;
    margin-top: 20px;
  }

  .card {
    height: calc(12% - 1px);
    width: calc(15% - 1px);
    margin: 3px;
  }

  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    padding: 2px;
    position: absolute;
    border-radius: 3px;
  }

}